#stat .MuiCard-root {
    max-height: auto;
}

.pictures {
    display: grid !important;
    grid-template-columns: 300px 300px 300px 300px !important;
    margin: auto;
}

#stat .loader {
    width: 100%;
    text-align: center;
    margin-top: auto;
}