
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
}

.gallery .MuiCardHeader-content {
    height: 20px;
    font-size: 12px !important;
}

.gallery .MuiTypography-body1{
    font-size: 12px !important;
    font-family: Segoe UI;
}

.gallery .MuiCard-root {
    margin-left: 22px;
    height: 42vh;
    margin-top: 22px;
    border: 1px solid silver;
}

.gallery .pics:hover {
    filter: opacity(.5);
}

@media (max-width: 991px) {
    .pictures {
        grid-template-columns: auto auto !important;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .pictures {
        display: block !important;
        grid-template-columns: auto  !important;
        margin: auto;
    }

}