
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
}

.gallery .MuiCardHeader-content {
    height: 20px;
}

.gallery .MuiCard-root {
    margin-left: 22px;
    height: 50vh;
    margin-top: 22px;
    border: 1px solid silver;
}

.gallery .pics:hover {
    filter: opacity(.8);
}

@media (max-width: 991px) {
    .pictures {
        grid-template-columns: auto auto !important;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .pictures {
        display: block !important;
        grid-template-columns: auto  !important;
        margin: auto;
    }

}