.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
}

.gallery .MuiCardHeader-content {
    height: 20px;
    font-size: 12px !important;
}

.gallery .MuiTypography-body1 {
    font-size: 12px !important;
    font-family: Segoe UI;
}

.gallery .MuiCard-root {
    height: 42vh;
    margin-top: 22px;
    border: 1px solid rgb(245, 211, 211) !important;
}

.gallery .pics:hover {
    filter: opacity(.5);
}

@media (max-width: 2000px) {
    .pictures {
        display: grid !important;
        grid-template-columns: 2px 320px 320px 320px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(134, 86, 86);
    }
}

@media (max-width: 1640px) {
    .pictures {
        display: grid !important;
        grid-template-columns: 400px 400px 400px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(121, 77, 77);
    }
}

@media (max-width: 1540px) {
    .pictures {
        grid-template-columns: 290px 290px 290px 290px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }

}

@media (max-width: 1510px) {
    .pictures {
        grid-template-columns: 320px 320px 320px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }

}

@media (max-width: 1301px) {
    .pictures {
        grid-template-columns: 250px 250px 250px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }

}

@media (max-width: 1028px) {
    .pictures {
        grid-template-columns: 230px 230px 230px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }

}

@media (max-width: 948px) {
    .pictures {
        grid-template-columns: 200px 200px 200px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }

}

@media (max-width: 840px) {
    .pictures {
        grid-template-columns: 300px  300px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }
}

@media (max-width: 821px) {
    .pictures {
        grid-template-columns: 270px  270px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }
}

@media (max-width: 748px) {
    .pictures {
        grid-template-columns: 220px  220px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }
}

@media (max-width: 634px) {
    .pictures {
        grid-template-columns: 400px !important;
        margin: auto;
    }

    .gallery .MuiCard-root {
        height: auto;
        margin-top: 22px;
        border: 1px solid rgb(177, 100, 100);
    }

}

.gallery {
    border: 1px solid #efefef;
    padding: 10px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}