@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

a {
    text-decoration: none !important;
    color: #555 !important;
    font-size: 14px;
    font-weight: bold;
}

.active {
    border-bottom: 3px solid #c72f3c;
}

